{% extends "base/base.html" %}

{% block content %}

<h1>Payment Success</h1>

<h3>We have Succesfully Receved ${{ amount_received }} !</h3>
<hr>
<h4>Your Odered Items:</h4>

{% if placed_order_items %}

        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                        {% for placed_order_item in placed_order_items %}
                        <tr class="">
                            <td>{{ placed_order_item.product.title }}</td>
                            <td class="text-center">{{ placed_order_item.quantity }}</td>
                            <td class="text-center">${{ placed_order_item.oder_item_price }}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        
{% endif %}

{% endblock content %}