{% extends "base/base.html" %}


{% block content %}
    <div class="container mt-5 row">
        <div class="shipping-address col-sm-6">
            <h3 class="">Select Your Shipping Address</h3>

                <!-- Button trigger modal for Add new address -->
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add New Shipping Address
                </button> 
                
                {% if user_addresses %}              
                    {% for address in user_addresses %}
                        <div class="user-address mt-3">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                Address {{loop.index}}
                                <a href="{{ url_for('products_bp.edit_shipping_address', address_id=address.id) }}" class="btn btn-primary">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                                </div>
                                <ul class="list-group list-group-flush">
                                <li class="list-group-item">Address: {{address.address}}</li>
                                <li class="list-group-item">City: {{address.city}}, State: {{address.state}}</li>
                                <li class="list-group-item">ZIP: {{address.zip_code}}, Phone: {{address.phone}}</li>
                                </ul>
                            </div>
                        </div>                       
                    {% endfor %}                                       
                {% endif %}
                    
        </div>

        <div class="oder-summery bg-light col-sm-6">
            <div class="products">

                <div
                class="table-responsive"
            >
                <table
                    class="table table-primary"
                >
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>

                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for cart_item in cart_items %}
                            <tr class="">
                                <td>{{cart_item.product.title}}</td>
                                <td>{{cart_item.quantity}}</td>
                                <td>{{cart_item.get_cart_item_total_price()}}</td>
                            </tr>
                        {% endfor %}
                        <tr class='fw-bold'>
                            <td>Total Price</td>
                            <td></td>
                            <td>
                                {{cart_total}}
                            </td>
                        </tr>
        
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>


<!-- Modal For Add New Address -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Your Shipping Address</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group mt-2">
                    {{ form.address.label(class="form-label") }}
                    {{ form.address(class="form-control") }}
                    {% for error in form.address.errors %}
                        <div class="alert alert-danger mt-1">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group mt-2">
                    {{ form.city.label(class="form-label") }}
                    {{ form.city(class="form-control") }}
                    {% for error in form.city.errors %}
                        <div class="alert alert-danger mt-1">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group mt-2">
                    {{ form.state.label(class="form-label") }}
                    {{ form.state(class="form-control") }}
                    {% for error in form.state.errors %}
                        <div class="alert alert-danger mt-1">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group mt-2">
                    {{ form.zip_code.label(class="form-label") }}
                    {{ form.zip_code(class="form-control") }}
                    {% for error in form.zip_code.errors %}
                        <div class="alert alert-danger mt-1">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group mt-2">
                    {{ form.phone.label(class="form-label") }}
                    {{ form.phone(class="form-control") }}
                    {% for error in form.phone.errors %}
                        <div class="alert alert-danger mt-1">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="form-group mt-2">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>



{% endblock content %}
    